body {
	font-family:"Open Sans","Verdana",sans-serif;
	background:#222 bottom left no-repeat fixed url(/omni/skins/classic/images/embossed.jpg);
	color: white;
	text-align: center
}

h1{
	font-weight: 400;
}

h3, p, li{
	font-weight: 300;
}

a, a:visited{
	color: #4475C9;
	text-decoration: none;
}

a:hover{
	color: #85ADFF;
	text-decoration: underline;
}

img{
	display: block;
	margin-left: auto;
    margin-right: auto;
}

#in_progress{
	display:block;
	margin-left: auto;
    margin-right: auto;
	width: 600px;
	padding-left: 10px;
	padding-right: 20px;
	border: #FFFF66 2px dashed;
}

#todo{
	display:block;
	margin-left: auto;
    margin-right: auto;
	width: 600px;
	padding-left: 10px;
	padding-right: 20px;
	border: #FF3333 2px dashed;
}

#done{
	display:block;
	margin-left: auto;
    margin-right: auto;
	width: 600px;
	padding-left: 10px;
	padding-right: 20px;
	border: #4475C9 2px dashed;
}

li{
	text-align: left;
}